.site-footer {
  background-color: var(--rose-300);
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.footer-wrap p {
  margin: 0;
  font-size: 1.1rem;
  color: var(--text);
}

.footer-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.1rem;
}

.footer-links span {
  color: var(--text);
}
